<nav class="d-flex flex-column justify-content-between ptbl-8">
    <ul class="nav-list list-unstyled">
        <li class="nav-item"><a class="" href="index.html"><h1><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/week5/logo-ANSWER.svg" alt="首頁"></h1></a></li>
        <li class="nav-item"><a class="nav-link fw-bold" href="#">
            <span class="material-icons">assessment</span>Dashboard</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" href="#">
            <span class="material-icons">question_answer</span>Question</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" href="index.html">
            <span class="material-icons">assignment</span>Assignment</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" href="#">
            <span class="material-icons">video_library</span>Course</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" href="admin.html">
            <span class="material-icons">supervisor_account</span>Admin</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" href="#">
            <span class="material-icons">settings</span>Settings</a></li>
    </ul>
    <div class="d-flex align-items-center">
        <img class="rounded-circle width-10 height-10 mr-4" src="../assets/images/andychen.jpeg" alt="">
        <div class="d-flex flex-column">
            <span class="fs-16 fw-bold">Andy Chen</span>
            <span class="fs-14">andy0401@mail.com</span>
        </div>
    </div>
  </nav>