$fz-base:16px;
$spacing-base:4px;
$color-primary:#198754;

$col-1:6.635802469%;
$col-2:15.12345679%;
$col-3:23.611111111%;
$col-4:32.098765432%;
$col-5:40.586419753%;
$col-6:49.074074074%;
$col-7:57.561728395%;
$col-8:66.049382716%;
$col-9:74.537037037%;
$col-10:83.024691358%;
$col-11:91.512345679%;
$col-12:100%;