.list-group-item.active{
    background-color: #F8F9FA;
    border: 1px solid #CED4DA;
    color: #212529;
}

.main{
    a:hover{
        opacity: 0.7;
    }
}

table{
    .btn:hover{
        color: #198754;
    }
}